
#div {
    background: lightgray; 
	border: 1px solid #000
}

#signUp {
    background: mediumaquamarine; 
	border: 1px solid #000
}

#login {
    background: mediumaquamarine; 
	border: 1px solid #000
}

#trHome {
    background: lightgray; 
	border: 1px solid #000
}

#featureHome {
    background: mediumaquamarine; 
	border: 1px solid #000
}

#profile1 {
    background: lightgray; 
	border: 1px solid #000
}

#registrationForm {
    background: lightgray; 
	border: 1px solid #000 
}

#allProfile {
    background: lightgray; 
	border: 1px solid #000 
}

#allRegistration {
    background: lightgray; 
	border: 1px solid #000 
}

#communication {
    background: lightgray; 
	border: 1px solid #000 
}

#notice {
    background: lightgray; 
	border: 1px solid #000 
}

#importantLinks {
    background: mediumaquamarine; 
	border: 1px solid #000
}

